.main {
    background: #F7F7F7;
}

.is-fullheight.columns {
    min-height: calc(100vh - 6.75rem);
}

.is-fullwidth.columns {
    width: 100%;
}

.is-fullheight.main {
    min-height: calc(100vh - 6.75rem);
}

.is-fullheight.section {
    min-height: calc(100vh - 6.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card{
    padding: 0;
    border-radius: 5px;

    header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-header {
        .card-header-title {
            font-size: 1.2rem;
            font-weight: lighter;
        }
    }
}

.footer{
    height: 5vh;
}

.hero.is-fullheight-with-navbar{
    min-height: calc(100vh - 6.75rem);
}

/** css für checkbox**/

input.hackbox {
    display:none;
}

input.liste:checked ~ span.test {
    display:inline;
}

input.liste:checked ~ span.test2 {
    display:none;
}
span.test {
    display:none;
}

label.liste::before {
    content:" Liste anzeigen";
    color:#0091D2;
    cursor: pointer;
}

input.liste:checked ~ label.liste::before {
    content:" Paginate anzeigen";
    color:#0091D2;
    cursor: pointer;
}
